alabaster==0.7.12
asgiref==3.4.1
astroid==2.8.4
Babel==2.9.0
bleach==3.3.0
build==0.2.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
coverage==6.1.1
Django==3.2.9
django-debug-toolbar==3.2.2
django-filter==21.1
django-stubs-ext==0.3.1
djangorestframework==3.12.4
docutils==0.16
-e ..
drf-yasg==1.20.0
factory-boy==3.2.1
Faker==9.8.2
idna==2.10
imagesize==1.2.0
importlib-metadata==4.8.2
inflection==0.5.1
isort==5.10.1
itypes==1.2.0
Jinja2==2.11.3
keyring==22.0.1
lazy-object-proxy==1.6.0
livereload==2.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
packaging==20.9
pep517==0.9.1
pkginfo==1.7.0
platformdirs==2.4.0
Pygments==2.7.4
pylint==2.11.1
pylint-django==2.4.4
pylint-plugin-utils==0.6
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2020.5
pywin32-ctypes==0.2.0
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
text-unidecode==1.3
toml==0.10.2
tornado==6.1
tqdm==4.56.0
twine==3.5.0
types-docutils==0.17.1
types-pytz==2021.3.0
types-PyYAML==6.0.0
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.5
webencodings==0.5.1
wrapt==1.13.3
zipp==3.6.0
